
<nav class="navbar navbar-light bg-light justify-content-between">
  <a routerLink="/" (click)="showNav1()" class="navbar-brand">Todo App</a>
  <form class="form-inline">

    <a class="btn btn-outline-success my-2 my-sm-0" (click)="hideNav()" routerLinkActive="active" routerLink="/add-task">Add Task</a>
  </form>
</nav>

<div class="container mt-5" *ngIf="showNav">
  <ul class="nav nav-pills nav-fill">

    <li class="nav-item">
      <a class="nav-link" (click)="clickAll()" [ngClass]="{'active' : isAll}" routerLink="/">All</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="clickThis()" routerLinkActive="active" routerLink="/not-started">Not Started</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="clickThis()" routerLinkActive="active" routerLink="/in-progress">In progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="clickThis()" routerLinkActive="active" routerLink="/completed">Completed</a>
    </li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
